/* --------------------------- GENERAL --------------------------- */
:root {
  --background-yellow: #ffd58e;
  --div-background: #ff9b5a;
  --div-header: #f26249;
  --nav-background: #ec2f3b;
  --nav-background-but-like-lighter: #f16d75;
}

@font-face {
  font-family: "archiaregular";
  src: url("./Archia_Regular_Webfont/archia-regular-webfont.eot");
  src: url("./Archia_Regular_Webfont/archia-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./Archia_Regular_Webfont/archia-regular-webfont.woff2") format("woff2"),
    url("./Archia_Regular_Webfont/archia-regular-webfont.woff") format("woff"),
    url("./Archia_Regular_Webfont/archia-regular-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "archiaregular";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* --------------------------- ELEMENT TAGS --------------------------- */

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--nav-background);
}

body {
  padding: 1vw;
}

h1 {
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: hand;
}

span {
  color: white;
}

.clickable:hover {
  cursor: pointer;
}

@media only screen and (min-width: 760px) {
}

@media only screen and (min-width: 1024px) {
}

/* --------------------------- MAIN LAYOUT --------------------------- */

div#app {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.content {
  width: 100%;
  order: 5;
  min-height: 80%;
}

#footer {
  width: 100%;
  padding-left: 1vw;
  order: 5;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
}

#footer div {
  width: 100%;
  text-align: center;
  font-size: 2.1vw;
  color: white;
}

div#author {
  order: 1;
}

div#icons {
  order: 2;
}


@media only screen and (min-width: 760px) {
  #footer {
    font-size: 3vw;
    position: relative;
    bottom: 0;
    right: 0;
  }

  div#app {
    align-content: flex-start;
  }
}

@media only screen and (min-width: 1024px) {
  div#app {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 6vw 6vw auto;
    grid-template-areas:
      "header . cart"
      "header content menu"
      "header content dropdown";
    gap: 1vw;
    justify-items: center;
    justify-content: stretch;
    align-items: center;
  }

  .content {
    grid-area: content;
    padding: 1vw;
    height: 100%;
  }
}

/* --------------------------- LOGO / BRANDING --------------------------- */
.branding {
  margin-top: 2vw;
  margin-bottom: 1vw;
  order: 2;
  color: white;
  background-color: #ec2f3b;
}

.title {
  display: none;
}

.mobile-logo {
  display: inline;
}

.logo {
  display: none;
}

@media only screen and (min-width: 760px) {
  .mobile-logo {
    display: none;
  }

  .logo {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .branding {
    margin: 0;
    grid-area: header;
    width: 100%;
    height: 100%;
    white-space: normal;
  }

  .branding a {
    display: grid;
    grid-template-areas:
      "logo"
      "name";
    width: 100%;
    justify-items: center;
    align-items: center;
  }

  .title {
    margin-top: 2vw;
    display: block;
    grid-area: name;

    font-size: 3vw;
    text-align: center;
    text-transform: uppercase;
  }

  .mobile-logo {
    display: none;
  }

  .logo {
    display: block;
    grid-area: logo;
  }
}

/* --------------------------- MENU --------------------------- */
.menu {
  margin-top: 5vw;
  margin-left: 5vw;
  order: 1;
  background-color: var(--nav-background);
}

.mobile-menu-icon {
  display: block;
  background-color: var(--nav-background);
}

.menu-icon {
  display: none;
  background-color: var(--nav-background);
}

.dropdown {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 100%;
  order: 4;
}

.dropdown div {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  max-height: fit-content;
  background-color: white;
}

.dropdown a {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 100%;
  display: block;
  font-size: 8vw;
  text-align: center;
  background-color: var(--nav-background);
}

div.sign-out {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 100%;
  display: block;
  font-size: 8vw;
  text-align: center;
  color: white;
  background-color: var(--nav-background);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@media only screen and (min-width: 760px) {
  .menu {
    margin-top: 6vw;
  }

  .mobile-menu-icon {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .dropdown a {
    font-size: 4vw;
  }

  div.sign-out {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 1024px) {
  .menu {
    display: block;
    grid-area: menu;
    margin: 0;

    background-color: var(--nav-background);
  }

  .menu-icon {
    height: 50px;
    width: 50px;
  }

  .dropdown {
    margin-top: 0;
    grid-area: dropdown;
    width: 100%;

    align-self: flex-start;
  }

  .dropdown div {
    max-height: 100%;
  }

  .dropdown a {
    font-size: 1.4vw;
  }

  div.sign-out {
    font-size: 1.4vw;
  }
}

/* --------------------------- CART --------------------------- */
.cart {
  margin-top: 4vw;
  margin-right: 6vw;
  order: 3;
}

.cart-icon {
  display: none;
}

.mobile-cart-icon {
  display: block;
}

@media only screen and (min-width: 760px) {
  .cart-icon {
    margin-top: 2vw;
    display: block;
  }

  .mobile-cart-icon {
    display: none;
  }

  span.add {
    font-size: 3.9vw;
  }
}

@media only screen and (min-width: 1024px) {
  .cart {
    grid-area: cart;
    margin: 0;
    align-self: flex-end;
  }

  .cart-icon {
    display: block;
  }

  .mobile-cart-icon {
    display: none;
  }
}
/* --------------------------- HOME --------------------------- */
.home {
  text-align: center;
  color: white;
}

.home > h1 {
  padding-top: 3vw;
  padding-bottom: 6vw;
  font-size: 8vw;
}

.home > h2 {
  padding-top: 3vw;
  font-size: 6vw;
}

.home > h3 {
  padding-top: 7vw;
  padding-bottom: 15vw;
  font-size: 4.3vw;
}

.home > img {
  width: 70vw;
  border-radius: 2vw;
}

@media only screen and (min-width: 1024px) {

  .home > h1 {
    padding-bottom: 3vw;
    font-size: 5vw;
  }
  
  .home > h2 {
    padding-top: 2.5vw;
    font-size: 3vw;;
  }
  
  .home > h3 {
    padding-top: 5vw;
    padding-bottom: 15vw;
    font-size: 2vw;
  }
  
  .home > img {
    width: 50vw;
    border-radius: 1vw;
  }
}

/* --------------------------- CONTENT --------------------------- */
h1.page-title {
  font-size: 8vw;
  text-align: center;
}

@media only screen and (min-width: 760px) {
  h1.page-title {
    font-size: 7vw;
  }
}

@media only screen and (min-width: 1024px) {
  h1.page-title {
    width: 100%;
    text-align: left;
    font-size: 4vw;
  }
}

/* --------------------------- TOOL SEARCH --------------------------- */
/* ------ FILTERS ------ */
.filters {
  margin-bottom: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.v-select {
  margin: 1vw;
  width: 46%;
  border-radius: 4px;
  display: inline-block;
  order: 3;
  font-size: 3.5vw;
  text-transform: capitalize;
  background-color: white;
}

div.vs__dropdown-toggle {
  border: 0;
}

.keyword {
  padding: 1vw;
  width: 95%;
  border-radius: 4px;
  order: 3;
  font-size: 4vw;
}

.toggle {
  margin: 1vw;
  width: 48%;
  display: flex;
  order: 1;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.toggle span {
  font-size: 3.9vw;
}

/* ------ TOOL TILE ------ */
.tools {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tool {
  width: 90%;
}

.tool-info {
  width: 100%;
  border-radius: 4px;
  display: grid;
  grid-template-areas:
    "photo"
    "name";
  justify-items: center;
  background-color: white;
}

.tool-name {
  display: block;
  grid-area: name;
  text-transform: capitalize;
  text-emphasis: bolder;
  font-size: 8vw;
  color: var(--nav-background);
}

.img-container {
  margin: 1vw;
  margin-top: 0;
  margin-bottom: 0;
  grid-area: photo;
}

.tool-img {
  width: 100%;
}

/* ------ ADD TO CART ------ */
.add-to-cart {
  display: flex;
  justify-content: center;
}

.add-to-cart:hover {
  background-color: var(--nav-background-but-like-lighter);
}

.add-to-cart-icon:hover {
  background-color: var(--nav-background-but-like-lighter);
}

span.add {
  margin-top: 1vw;
  margin-bottom: 3vw;
  padding: 1vw;
  border: 2px solid white;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  font-size: 5vw;
}

.add-to-cart-icon {
  display: none;
}

.not-available-icon {
  display: none;
}

.in-cart-icon {
  display: none;
}

@media only screen and (min-width: 760px) {
  /* ------ FILTERS ------ */
  .toggle span {
    font-size: 4vw;
  }

  /* ------ TOOL TILE ------ */
  .tools {
    justify-content: space-evenly;
  }

  .tool {
    width: 30%;
  }

  .tool-info {
    padding: 0.5vw;
    height: 35vw;
    width: 100%;
  }

  .tool-name {
    grid-area: name;
    height: 100%;
    font-size: 3vw;
    align-self: flex-end;
  }

  /* ------ ADD TO CART ------ */
  span.add {
    font-size: 3.9vw;
  }
}

@media only screen and (min-width: 1024px) {
  /* ------ FILTERS ------ */
  .filters {
    margin-bottom: 1vw;
    justify-content: space-evenly;
  }

  div.v-select {
    margin: 0.15vw;
    margin-top: 0.17vw;
    padding: 0.15vw;
    width: 25%;
    order: 3;
    font-size: 1vw;
  }

  .keyword {
    margin: 0.15vw;
    padding: 0.5vw;
    width: 45%;
    order: 2;
    font-size: 1.1vw;
  }

  .toggle {
    margin: 0.15vw;
    margin-bottom: 0.5vw;
    margin-right: 0;
    order: 1;
    width: 100%;
    justify-content: flex-end;
  }

  .toggle span {
    font-size: 1.2vw;
  }

  .vue-js-switch {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  /* ------ TOOL TILE ------ */
  .tool {
    margin: 1vw;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
  }

  .tool-info {
    height: 85%;
    border-radius: 5px;
    grid-area: "info";
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
  }

  .tool-name {
    height: 10%;
    width: 100%;
    margin-bottom: 1vw;
    padding-top: 0.25vw;
    border-radius: 5px 5px 0px 0px;
    order: 1;
    align-self: center;
    font-size: 1.5vw;
    text-align: center;
    color: white;
    background-color: var(--nav-background);
  }

  .img-container {
    height: 90%;
    width: 100%;
    order: 2;
    display: flex;
    align-items: center;
  }

  /* ------ ADD TO CART ------ */
  .add-to-cart {
    height: 15%;
    width: 100%;
    margin-top: 0.5vw;
    padding: 0.25vw;
    border: 0.5vw solid white;
    border-radius: 5px;
    grid-area: addtocart;
    display: flex;
    align-items: center;
  }

  .icon {
    height: 100%;
  }

  .add-to-cart-icon {
    display: block;
    height: 100%;
  }

  .not-available-icon {
    display: block;
    height: 100%;
  }

  .in-cart-icon {
    display: block;
    height: 100%;
  }
  span.add {
    height: 2vw;
    margin: 0;
    margin-top: 0.20vw;
    padding: 0;
    border: 0;
    border-radius: 5px;
    font-size: 1.5vw;
    text-align: center;
  }
}

@media only screen and (min-width: 1400px) {
  .tool {
    height: 18vw;
    width: 20%;
  }

  .tool-info{
    padding: 0.25vw;
  }

  .tool-name {
    height: 15%;
  }

  .img-container {
    height: 80%;
  }

  .add-to-cart{
    border: 0.25vw solid white;
  }
}

/* --------------------------- CART VIEW --------------------------- */
.cart-contents {
  height: 85%;
  width: 100%;
  padding: 1vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
}

.cart-item {
  height: 25vw;
  margin-bottom: 2vw;
  padding: 1vw;
  border-radius: 5px;
  order: 3;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.cart-item .tool-name {
  height: 100%;
  width: 80%;
  padding-top: 6.5vw;
  border-radius: 5px;
  order: 2;
  color: white;
  background-color: var(--nav-background);
}

.cart-item .img-container {
  height: 25vw;
  width: 25vw;
  padding: 0;
  margin: 0;
  order: 1;
}

.cart-item .img-container img {
  height: 100%;
  padding: 1vw;
  background-color: white;
}

.checkout {
  border-radius: 5px;
  border: 2px solid white;
  order: 99;
  font-size: 5vw;
  text-emphasis: 5px;
  text-transform: uppercase;
  color: white;
  background-color: var(--nav-background);
}

@media only screen and (min-width: 760px) {
  .cart-item .tool-name {
    padding-top: 9vw;
  }

  .cart-item {
    margin-top: 1vw;
  }
}

@media only screen and (min-width: 1024px) {
  .cart-contents {
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
  }

  .cart-contents .page-title {
    width: 77%;
    padding-left: 0.5vw;
  }

  .cart-item {
    height: 7vw;
    width: 100%;
    margin: 1vw;
    margin-left: 0;
    margin-right: 0;
    padding: 0.5vw;
    align-self: flex-start;
  }

  .cart-item .tool-name {
    margin: 0;
    padding: 0;
    padding-top: 2vw;
    width: 100%;
    font-size: 1.8vw;
  }

  .cart-item .img-container {
    height: 7vw;
    width: 7vw;
  }

  .cart-item .img-container img {
    padding: 0;
  }

  .checkout {
    margin-bottom: 1.5vw;
    padding: 0.75vw 0.5vw 0.75vw 0.5vw;
    order: 1;
    justify-self: end;
    font-size: 2.5vw;
    color: var(--nav-background);
    background-color: white;
  }
}

/* --------------------------- LOANS --------------------------- */
.loan-info {
  margin: 2vw;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

.no-loans {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 5vw;
  color: white;
  margin-top: 10vw;
}

.user-loans .page-title {
  margin-bottom: 1.5vw;
  width: 100%;
}

.loan-info .tool-name {
  margin: 1.5vw;
  width: 100%;
  border-radius: 7px 7px 0px 0px;
  color: white;
  background-color: var(--nav-background);
}

div.more-info {
  width: 100%;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-bottom: 1.5vw;
  padding: 1.5vw;
  border-radius: 0px 0px 6px 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--nav-background);
}

p.dates {
  text-transform: capitalize;
  color: white;
}

button.return.clickable {
  width: 40%;
  border-radius: 1vw;
  border: .5vw solid white;
  font-size: 5vw;
  color: white;
  background-color: var(--nav-background);
  padding: 1.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

@media only screen and (min-width: 760px) {
   .user-loans {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .user-loans .page-title {
    height: 10%;
  }

  .no-loans {
    font-size: 5vw;
    margin-top: 0;
  }

  .loan-info {
    padding: 1vw;
    width: 100%;
    height: 12%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "img info";
  }

  .loan-info .tool-name {
    grid-area: info;
    width: 100%;
    height: 20%;
    margin: 0;
    margin-bottom: 1vw;
    align-self: flex-start;
    font-size: 4vw;
    padding-top: 1.75vw;
  }

  .loan-info .tool-img {
    grid-area: img;
  }

  div.more-info {
    grid-area: info;
    height: 78%;
    align-self: flex-end;
    margin: 0;
    margin-top: 1vw;
    flex-wrap: wrap;
  }

  p.dates {
    width: 100%;
    font-size: 3vw;
    padding-left: 1vw;
  }

  button.return.clickable {
    width: 100%;
    font-size: 3vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

@media only screen and (min-width: 1024px) {
  .user-loans {
    justify-content: space-evenly;
  }

  .no-loans {
    font-size: 3vw;
    margin-top: 10vw;
  }

  .loan-info {
    width: 31.5vw;
    height: 16.5vw;
    display: grid;
    grid-template-columns: 15vw 15vw;
    grid-template-rows: 5vw 10vw;
    grid-template-areas:
      "img name"
      "img info";

      background-color: white;
      gap: 0.5vw;
      padding: 0.5vw
  }

  .loan-info .tool-name {
    grid-area: name;
    font-size: 1.6vw;
    margin: 0;
    padding-top: 0.75vw;
    height: 100%;
    text-align: center;
    border-radius: 6px;
  }

  .loan-info .img-container {
    grid-area: img;
    height: 100%;
  }

  div.more-info {
    height: 100%;
    margin: 0;
    padding: 0.5vw;
    align-self: flex-start;
    border-radius: 6px;
  }

  p.dates {
    grid-area: info;
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    align-self: flex-start;
  }

  button.return.clickable {
    border-radius: .5vw;
    border: .15vw solid white;
    font-size: 1.5vw;
    color: white;
    background-color: var(--nav-background);
    height: 3vw;
    padding: .5vw;
  }
}

/* --------------------------- RESERVATIONS --------------------------- */
.reservation-info {
  margin: 2vw;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

.user-reservations > .page-title {
  margin-bottom: 1.5vw;
  width: 100%;
}

.reservation-info > .tool-name {
  margin: 1.5vw;
  width: 100%;
  border-radius: 7px 7px 0px 0px;
  color: white;
  background-color: var(--nav-background);
}

.reservation-info > .description {
  width: 100%;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-bottom: 1.5vw;
  padding: 1.5vw;
  border-radius: 0px 0px 6px 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--nav-background);
  color: white;
}

@media only screen and (min-width: 760px) {
  .user-reservations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .reservation-info {
    padding: 1vw;
    width: 100%;
    height: 12%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "img info";
  }

  .reservation-info > .tool-name {
    grid-area: info;
    width: 100%;
    height: 20%;
    margin: 0;
    margin-bottom: 1vw;
    align-self: flex-start;
    font-size: 4vw;
    padding-top: 1.75vw;
  }

  .reservation-info > .tool-img {
    grid-area: img;
  }

  .reservation-info > .description {
    grid-area: info;
    height: 78%;
    align-self: flex-end;
    margin: 0;
    margin-top: 1vw;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1024px) {
  .reservation-info {
    width: 100%;
    height: 16.5vw;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 5vw 10vw;
    grid-template-areas:
      "img name"
      "img info";

      background-color: white;
      gap: 0.5vw;
      padding: 0.5vw
  }

  .reservation-info .tool-name {
    grid-area: name;
    font-size: 1.6vw;
    margin: 0;
    padding: 1.5vw;
    height: 100%;
    text-align: center;
    border-radius: 6px;
  }

  .reservation-info .tool-img {
    grid-area: img;
    height: 100%;
  }

  .reservation-info .description {
    height: 100%;
    margin: 0;
    padding: 0.5vw;
    align-self: flex-start;
    border-radius: 6px;
    font-size: 1.2vw;
    
  }
}

/* --------------------------- REGISTER --------------------------- */

.sr-only {
  display: block;
  text-align: center;
  color: white;
  margin-top: 1rem;
}

.form-control {
  display: block;
  width: 50%;
  margin: auto;
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.btn.btn-lg.btn-primary.btn-block {
  display: block;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  border: 2px solid white;
  order: 99;
  font-size: 5vw;
  text-emphasis: 5px;
  text-transform: uppercase;
  color: white;
  background-color: var(--nav-background);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-register > a {
  color: lightgray;
  display: block;
  text-align: center;
  margin: 1rem;
}

@media only screen and (min-width: 760px) {
  .sr-only {
    font-size: 3.5vw;
  }

  .form-control {
    width: 50%;
    font-size: 3.5vw;
    margin-bottom: 1rem;
  }

  .btn.btn-lg.btn-primary.btn-block {
    width: 50%;
  }

  .form-register {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 1024px) {

  .h3.mb-3.font-weight-normal{
    font-size: 5vw;
  }

  .sr-only {
    font-size: 1.5vw;
    margin-top: 2rem;
  }

  .form-control {
    font-size: 1.5vw;
    padding: .2rem;
    border-radius: .5rem;
    margin-top: .3rem;
    width: 30%;
  }

  .btn.btn-lg.btn-primary.btn-block {
    width: 35%;
    font-size: 2.5vw;
    margin-top: 3rem;
  }

  .form-register > a {
    font-size: 1.8vw;
  }
}

/* --------------------------- LOGIN --------------------------- */

#login {
  display: block;
}

#sign-in {
  display: block;
  width: 30%;
  margin: auto;
  border-radius: 5px;
  border: 2px solid white;
  order: 99;
  font-size: 5vw;
  text-emphasis: 5px;
  text-transform: uppercase;
  color: white;
  background-color: var(--nav-background);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-signin > a {
  color: lightgray;
  display: block;
  text-align: center;
  margin: 1rem;
}

div.alert.alert-success {
  display: block;
  text-align: center;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 4.5vw;
}

div.alert.alert-danger {
  display: block;
  width: 70%;
  margin: auto;
  text-align: center;
  padding: .5rem;
  border-radius: 3px;
  border: 1px solid yellow;
  font-size: 5vw;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--nav-background);
  background-color:orange;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 760px) {

  #sign-in {
    width: 35%;
  }

  .form-signin {
    font-size: 4vw;
  }

  div.alert.alert-success {
    font-size: 3.5vw;
  }

  div.alert.alert-danger {
    font-size: 3.5vw;
  }
}

@media only screen and (min-width: 1024px) {

  .form-signin {
    margin-top: 10rem;
  }

  .form-signin .sr-only {
    font-size: 2vw;
  }
  
  #sign-in {
    width: 20%;
    font-size: 2.5vw;
    margin-top: 3rem;
  }
  
  .form-signin > a {
    font-size: 1.8vw;
  }

  div.alert.alert-success {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2vw;
  }

  div.alert.alert-danger {
    width: 65%;
    font-size: 2.3vw;
  }
}

/* --------------------------- ABOUT --------------------------- */

#credits {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 2vw;
}

#icons {
  text-align: right;
}

#authors {
  display: block;
  text-align: center;
}

#authors > h2 {
  color: white;
  padding-bottom: 5vw;
}

.laura > img {
  width: 50vw;
  padding-bottom: 7vw;
  
}

.kate > img {
  width: 50vw;
  padding-bottom: 7vw;
}

.martha > img {
  width: 50vw;
  padding-bottom: 7vw;
}

.laura > h3 {
  color: white;
  font-size: 4vw;
  padding-bottom: 1vw;
}

.kate > h3 {
  color: white;
  font-size: 4vw;
  padding-bottom: 1vw;
}

.martha > h3 {
  color: white;
  font-size: 4vw;
  padding-bottom: 1vw;
}

@media only screen and (min-width: 760px) {
  #authors > h2 {
    color: white;
    padding-bottom: 5vw;
    font-size: 7vw;
  }
  .laura > h3 {
    color: white;
    font-size: 4vw;
  }
  
  .kate > h3 {
    color: white;
    font-size: 4vw;
  }
  
  .martha > h3 {
    color: white;
    font-size: 4vw;
  }
  .martha > img {
    height: 52vw;
  }
}

@media only screen and (min-width: 1024px) {
  #authors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "title title title"
    "laura kate martha";
  }

  #authors > h2 {
    grid-area: title;
    padding-top: 10vw;
    font-size: 3.5vw;
  }

  .laura {
    grid-area: laura;
  }

  .kate {
    grid-area: kate;
  }

  .martha {
    grid-area: martha;
  }

  .laura > img {
    width: 23vw;
    height: 27vw;
    padding-right: 3vw;
    object-fit: cover;
  }

  .kate > img {
    width: 23vw;
    height: 27vw;
    padding-right: 3vw;
    object-fit: cover;
  }

  .martha > img {
    width: 23vw;
    height: 27vw;
    object-fit: cover;
  }

  .laura > h3 {
    font-size: 1.96vw;
    padding-bottom: 1vw;
    padding-right: 3vw;
  }

  .kate > h3 {
    font-size: 1.96vw;
    padding-bottom: 1vw;
    padding-right: 3vw;
  }

  .martha > h3 {
    font-size: 1.96vw;
    padding-bottom: 1vw;
  }
}

/* --------------------------- TOOL DETAIL --------------------------- */

.tool-detail {
  background-color: white;
  padding: 1.5vw;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tool-detail h1 {
  width: 100%;
  background-color: var(--nav-background);
  border-radius: 5px 5px 0px 0px;
}

.tool-detail img {
  width: 100%;
}

.tool-detail .description {
  color: white;
  background-color: var(--nav-background);
  padding: 2vw;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 2vw;
}

.tool-detail .add-to-cart {
  background-color: var(--nav-background);
  height: fit-content;
  border-radius: 5px;
  border: 0.5vw solid var(--nav-background);
}

.tool-detail span.add {
  margin: 0;
}
@media only screen and (min-width: 760px) {
  .tool-detail {
    justify-content: center;
  }

  .tool-detail h1 {
    font-size: 5vw;
  }
  
  .tool-detail div.info {
    font-size: 3vw;
  }

  .tool-detail img {
    width: 63%;
  }
}

@media only screen and (min-width: 1024px) {
  .tool-detail {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "header header" 
    "img info";

    gap: 1vw;
    border-radius: 0.75vw;
  }

  .tool-detail h1 {
    grid-area: header;
    width: 100%;
    display: block;
    height: fit-content;
    border-radius: 0.75vw;
  }

  .tool-detail div.info {
    
    grid-area: info;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: center;
  }

  .tool-detail div.description {
    height: fit-content;
    order: 99;
    font-size: 2vw;
    align-self: flex-end;
    margin: 0;
    padding: 1vw;
    border-radius: 0.75vw;
  }

  .tool-detail img {
    grid-area: img;
    width: 100%;
  }

  .tool-detail .add-to-cart {
    width: 100%;
    align-self: flex-start;
    height: fit-content;
    margin: 1vw;
    border-radius: 0.75vw;
  }

  .tool-detail .add-to-cart span.add {
    font-size: 2vw;
  } 

  .tool-detail .add-to-cart div.icon {
    height: 4vw;
    width: 4.5vw;
  }
}